<nav aria-label="Breadcrumb">
    <ol class="breadcrumbs">
        {{#unless theme_settings.hide_breadcrumbs }}
            {{#each breadcrumbs}}
            {{#if name '===' 'Your Account'}}
                <li class="breadcrumb {{#if @last}}is-active{{/if}}">
                    <a class="breadcrumb-label"
                    href="{{lang 'account.url'}}"
                    {{#if @last}}aria-current="page"{{/if}}
                    >
                        <span>{{lang 'account.breadcrumb'}}</span>
                    </a>
                </li>
            {{else if name '===' 'My Account'}}
                <li class="breadcrumb {{#if @last}}is-active{{/if}}">
                    <a class="breadcrumb-label"
                    href="{{lang 'account.url'}}"
                    {{#if @last}}aria-current="page"{{/if}}
                    >
                        <span>{{lang 'account.breadcrumb'}}</span>
                    </a>
                </li> 
            {{else}}
                <li class="breadcrumb {{#if @last}}is-active{{/if}}">
                    <a class="breadcrumb-label"
                    href="{{url}}"
                    {{#if @last}}aria-current="page"{{/if}}
                    >
                        <span>{{#if ../isLookbook '==' 'true'}}{{#if name '==' 'Edit Wishlist'}}Edit Lookbook{{else}}{{name}}{{/if}}{{else}}{{name}}{{/if}}</span>
                    </a>
                </li>
            {{/if}}
            {{/each}}
        {{/unless}}
    </ol>
</nav>

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
        {{#each breadcrumbs}}
        {
            "@type": "ListItem",
            "position": {{add @index 1}},
            "item": {
                "@id": {{{JSONstringify url}}},
                "name": {{{JSONstringify name}}}
            }
        }{{#unless @last}},{{/unless}}
        {{/each}}
    ]
}
</script>
