<div class="previewCartWrapper">
  <div class="previewCart">
    {{#if cart.items.length}}
        <ul class="previewCartList">
            {{#each (limit cart.items theme_settings.preview_catr_items_limit)}}
                <li class="previewCartItem">
                    <div class="previewCartItem-image">
                        {{#if type '==' 'GiftCertificate'}}
                            <img
                                alt="GiftCertificate"
                                title="GiftCertificate"
                                src="{{cdn ../theme_settings.default_image_gift_certificate}}"
                            >
                        {{else}}
                            {{> components/common/responsive-img
                                image=image
                                fallback_size=../theme_settings.productthumb_size
                                lazyload=../theme_settings.lazyload_mode
                                default_image=../theme_settings.default_image_product
                            }}
                        {{/if}}
                    </div>
                        <div class="previewCartItem-content">
                            <div class="name-price-wrapper">
                                <h6 class="previewCartItem-name">
                                    <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                                </h6>

                                <div class="previewCartItem-price">
                                    {{#if quantity '>' 1}}
                                    <div class="price-quantity-wrapper"><span> {{quantity}}</span><span> &times;</span></div>
                                    {{/if}}
                                    {{#or ../customer (unless ../settings.hide_price_from_guests) (if type '==' 'GiftCertificate')}}
                                        <span{{#if price_discounted}} class="price--discounted"{{/if}}>{{price.formatted}}</span>
                                        {{#if price_discounted}}
                                            {{price_discounted.formatted}}
                                        {{/if}}
                                    {{else}}
                                        {{> components/common/login-for-pricing}}
                                    {{/or}}
                                </div>
                            </div>
                            <span class="previewCartItem-custom-product-attribute">
                                <!-- TO DO: Define What custom field should be rendered; Change static content -->
                                {{brand.name}}
                            </span>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="preview-other-items-quantity">
                <span>+<span class="other-product-quantity"></span></span>
                <span>{{lang 'cart.preview.other_items_in_cart'}}</span>
                <script>
                    function setOtherQuantity() {
                        const cartPreview = document.getElementById('cart-preview-dropdown');
                        if(cartPreview.classList.value.includes('is-open f-open-dropdown')) {
                            const neededElement = document.querySelector('span.other-product-quantity');
                            const productLimit = '{{theme_settings.preview_catr_items_limit}}';
                            const productQuantity = '{{cart.items.length}}';
                            const otherProductsQuantity = productQuantity - productLimit;
                            const finalValue = otherProductsQuantity <= 0 ? 0 : otherProductsQuantity;
                            neededElement.insertAdjacentHTML('afterbegin', finalValue);
                        } 
                    }
                    setOtherQuantity();
                </script>
            </div>
            <div class="preview-subtotal">
                <span >{{lang 'cart.preview.sub_total'}}</span>
                <span >{{cart.sub_total.formatted}}</span>
            </div>
            <div class="previewCartAction">
                {{#if cart.additional_checkout_buttons}}
                    <div data-cart-accelerated-checkout-buttons class="previewCart-acceleratedCheckoutButtons"></div>
                {{/if}}
                {{#if cart.show_primary_checkout_button}}
                    <div class="previewCartAction-checkout">
                        <a
                                href="{{urls.checkout.single_address}}"
                                class="button button--small button--primary"
                                data-primary-checkout-now-action
                        >
                            {{lang 'cart.preview.checkout_now'}}
                        </a>
                    </div>
                {{/if}}

                <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                    <a href="{{urls.cart}}" class="button button--small button--action">
                        {{lang 'cart.preview.view_cart'}}
                    </a>
                </div>

                {{#if cart.show_multiple_address_shipping}}
                    <div class="previewCartAction-checkoutMultiple">
                        <a href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    </div>
                {{/if}}
            </div>
            <div class="preview-cart-free-shipping-content">
                {{theme_settings.free_shipping_on_order}}
            </div>
            {{#if cart.additional_checkout_buttons}}
                <div class="previewCart-additionalCheckoutButtons">
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/if}}
        {{else}}
            <div role="alert" aria-live="polite" aria-atomic="false" class="previewCart-emptyBody">
                {{lang 'cart.checkout.empty_cart'}}
            </div>
        {{/if}}
    </div>
</div>
