<button type="button" class="collapsible toggle-title open-collapse-button" data-mobile-button-name="{{name}}">
        <div class="collapsible-button-name-wrapper">
            <span>{{name}}</span>
            <a class="shop-up-to-list-item" data-mobile-button-name="{{name}}"></a>
        </div>
    <span class="no-active-tab">
        
        <svg class="plus-icon">
            <use href="#icon-plus"></use>
        </svg>
       
    </span>
    <span class="active-tab">
        <svg class="minus-icon">
            <use href="#icon-minus"></use>
        </svg>
    </span>
</button>
