<div class="consultant-parties__current">
    <h1> {{lang 'common.parties.current_party_title'}}</h1>
    <p class="title-label"> {{lang 'common.parties.current_party_label'}}</p>
    <hr>
    <ol class="current-party-list parties">
    </ol>
    <div class="party-link-container">
        <a class="party-link share-party"> SHARE PARTY LINK 
            <span id="party-tooltip">copied to clipboard!</sapn>
        </a>
        <a class="party-link leave-party"> LEAVE PARTY </a>
        <a class="party-link return-parties-list"> {{lang 'common.parties.view_all'}} </a>
    </div>
    <hr>
</div>
