<div class="consultant-parties__open">
    {{> components/common/modal/modal-close-btn}}
    {{> components/consultant/parties-list }}

    <div class="current-party">
        {{> components/consultant/current-party }}
    </div>
    <ol class="information">
        <li class="item">
            <a href="/blendbash/">Host a Party</a>
        </li>
        <li class="item">
            <a href="/become-a-consultant/">Join My Team</a>
        </li>
        <li class="item">
            <a href="/consultant-bio/">About Me</a>
        </li>
    </ol>
</div>
