<h3 class="account-heading">{{lang 'account.settings.my_consultant' }}</h3>
<div class="consultant-info-container">
    <div class="data-column">
        <div class="consultant-field">
            <span class="consultant-field--name">{{lang 'account.settings.consultant_id' }}: </span>
            <span class="consultant-field--value id-field"></span>
        </div>
        <div class="consultant-field">
            <span class="consultant-field--name">{{lang 'account.settings.consultant_name' }}: </span>
            <span class="consultant-field--value name-field"></span>
        </div>
    </div>
    <div class="data-column">
        <div class="consultant-field">
            <span class="consultant-field--name">{{lang 'account.settings.phone' }}: </span>
            <span class="consultant-field--value phone-field"></span>
        </div>
        <div class="consultant-field">
            <span class="consultant-field--name">{{lang 'account.settings.consultant_email' }}: </span>
            <span class="consultant-field--value email-field"></span>
        </div>
    </div>
</div>
