<div class="suggestions">
    <div class="suggestions__container">
    <div class="search-tips">
        <h1> {{lang "search.suggestions.tips_title"}} </h1>
        <ul>
            <li>
                {{lang "search.suggestions.tip_1"}}
            </li>
            <li>
                {{lang "search.suggestions.tip_2"}}
            </li>
            <li>
                {{lang "search.suggestions.tip_3"}}
            </li>
            <li>
                {{lang "search.suggestions.tip_4"}}
            </li>
        </ul>
    </div>

    <div class="more-help">
        <h1> {{lang "search.suggestions.more_help_title"}} </h1>
        <p>
            {{lang "search.suggestions.more_help_text"}}
        </p>

        <a class="button button--primary button--large">{{lang "search.suggestions.more_help_button"}}</a>
    </div>
    </div>
</div>
