.adds-on {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .addOn-option {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;

        &__description {
            margin-top: 1rem;

            .extra {
                margin: 0.4rem 0;
            }
        }

        &__content {
            width: 100%;

            .input-section {
                .price,
                .name {
                    color: stencilColor("color-textBase");
                    font-weight: 600;
                    padding-bottom: 1rem;
                }
            }

        }
    }
}
