// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
    margin: remCalc(50px) auto;
    max-width: remCalc(1200px);

    @include breakpoint("medium") {
        margin: remCalc(120px) auto;
    }

    .page-heading {
        color: stencilColor("color-primaryAccent");
        font-size: remCalc(25px);
        letter-spacing: remCalc(2.5px);
        margin: 0 auto remCalc(50px);

        @include breakpoint("medium") {
            margin: 0 auto remCalc(120px);
        }
    }
}

.login-row {
    display: flex;
    flex-direction: column;

    @include breakpoint("medium") {
        flex-direction: row;
    }
}

.login-title {
    color: stencilColor("color-textBase");
    font-size: remCalc(16px);
    letter-spacing: remCalc(1.6px);
    line-height: 1;
    margin: 0 0 remCalc(20px);
    text-transform: uppercase;

    @include breakpoint("medium") {
        margin: remCalc(10px) 0 remCalc(30px);
    }
}

.login-form {
    @include grid-column(12);
    margin: 0;

    @include breakpoint("medium") {
        @include grid-column(6);
        border-bottom: 0;
        border-right: 1px solid stencilColor("color-greyDarkest");
        padding-right: remCalc(50px);
    }

    @include breakpoint("large") {
        padding-right: remCalc(115px);
    }

    .form-field {
        margin-bottom: remCalc(20px);
    }

    .form-label {
        font-size: remCalc(14px);
        font-weight: 700;
        letter-spacing: remCalc(1.4px);
        line-height: 1;
        margin-bottom: remCalc(10px);
        text-transform: uppercase;
    }

    .form-actions {
        border-bottom: 1px solid stencilColor("color-greyDarkest");
        display: flex;
        flex-direction: column;
        margin: remCalc(25px) 0 0 0;
        padding-bottom: remCalc(50px);

        @include breakpoint("medium") {
            align-items: center;
            border: 0;
            flex-direction: row;
            padding-bottom: 0;
        }

        .button {
            margin: remCalc(5px) 0 0 0;

            @include breakpoint("medium") {
                margin: 0 remCalc(25px) 0 0;
            }
        }

        .forgot-password {
            color: stencilColor("color-primaryAccent");
            font-size: remCalc(12px);
            margin: remCalc(25px) 0 0 0;

            @include breakpoint("medium") {
                margin: 0;
            }
        }
    }
}

.new-customer {
    @include grid-column(12);
    font-size: remCalc(16px);
    line-height: 1.9;
    padding-top: remCalc(50px);

    @include breakpoint("medium") {
        @include grid-column(6);
        padding-left: remCalc(50px);
        padding-top: remCalc(0);
    }

    @include breakpoint("large") {
        padding-left: remCalc(115px);
    }
}

.new-customer-intro {
    margin-bottom: 0;
}

.new-customer-fact-list {
    list-style: none;
    margin: 0 0 remCalc(30px);
    margin-left: 0;
}

.new-customer-fact {
    &::before {
        content: "·";
        display: inline-block;
        font-size: remCalc(20px);
        line-height: 1;
        margin: 0 remCalc(5px);
    }
}

.new-customer-create {
    display: block;

    @include breakpoint("medium") {
        display: inline-block;
    }

    .button {
        margin: 0;
        width: 100%;

        @include breakpoint("medium") {
            width: initial;
        }
    }
}
