// =============================================================================
// HEADER (Settings)
// =============================================================================

$header-bg:                                 stencilColor("header-backgroundColor");
$header-height-desktop:                     84px;
$header-height-mobile:                      78px;
$banner-height-desktop:                     48px;
$banner-height-mobile:                      36px;
$header-toggle-width:                       $header-height-mobile;
$header-logo-marginVertical:                spacing("half");
$header-logo-paddingVertical:               $header-logo-marginVertical;

$storeName-color:                           stencilColor("storeName-color");
